<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Subtitle Shifter</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link href="../static/css/font.css" rel="stylesheet">
</head>

<body class="container-lg mt-1 bg-light-subtle">
    <header>
        <nav class="navbar navbar-expand-lg bg-info">
            <div class="container-fluid">
                <div>
                    <a class="navbar-brand" href="#">
                        <span class="display-5">Subtitle shifter</span>
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-md my-1 bg-light">
            <div class="row">
                <h3 class="text-center">
                    Synchronize the subtitles by shifting the timestamps of the subtitle file.
                </h3>
            </div>

            <div class="row my-2">
                <form action="/upload" method="POST" class="col-lg-6 mx-auto" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="subtitleFile" class="form-label">Upload Subtitle File (.srt)</label>
                        <input type="file" class="form-control" id="subtitleFile" name="subtitleFile" accept=".srt" required>
                        <p class="small mt-1 ms-1">Maximum file size: 2 MB</p>
                    </div>
                    <div class="mb-3">
                        <label for="timeShift" class="form-label">Time Shift (ms)</label>
                        <input type="number" class="form-control" id="timeShift" name="timeshift" step="100" required>
                        <ul class="my-2">
                            <li class="mb-1">If the subtitle appears too early, enter a <span class="fst-italic">positive</span> number.</li>
                            <li>If the subtitle appears too late, enter a <span class="fst-italic">negative</span> number.</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-info rounded-pill w-100">Synchronize & Download</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <footer>
        <div class=" text-center my-2">
            <span class="fs-6">
                &copy 2025  Michail Koutrakis
            </span>
        </div>
    </footer>
</body>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</html>